# Nombre de la aplicación.
# Los contenedores llevaran el nombre con la forma {name}_app, {name}_db, {name}_webserver, {name}_pma
NAME=fagdut-inscripciones

# Usuario y grupo
# Se deben poner los uid y gid del usuario que ejecuta el docker compose
# Para obtener ejecurtar en consola el comando 'id'
UID=1000
GID=1000

# Opciones de instalación de adicionales
INSTALAR_SOAP=false
INSTALAR_GD=false
INSTALAR_IMAGICK=false
INSTALAR_PDF_TOOLS=false
INSTALAR_BACKUP_TOOLS=false

# Opciones de Imágenes SSU
OPCACHE_ENABLE=0
